<div class="flexBottom" style="height: calc(100vh - 170px);">


    <div class="h60 bbb10 vCenter flexRight" [style.borderColor]="management.color">

        <div class="tBlack50 fs18 fw500">RECENT POSTS</div>
        <div class="w8 black10 h18 ml25" [style.backgroundColor]="management.color + 99"
            style="transform: skew(-20deg);"></div>
        <div class="w4 black10 h18 ml10" [style.backgroundColor]="management.color + 99"
            style="transform: skew(-20deg);"></div>
        <div class="w2 black10 h18 ml10" [style.backgroundColor]="management.color + 99"
            style="transform: skew(-20deg);"></div>

    </div>


    <div class="h40 mt15 mb15 btb10 blb10 brb10 bbb10 br2 lp5 vCenter tBlack50 black5">
        <input type="text" class="empInput" placeholder="search posts here" (keyup)="searchPosts($event.target.value)">
    </div>


    <div *ngIf="allPosts.length != 0" class="flex1 empScroll2 rp15 mb15"
        style="display: grid; grid-template-columns: 1fr 1fr; grid-auto-rows: 180px; grid-gap: 15px;">

        <div *ngFor="let post of allPosts; let i=index;" class="flexRight" (click)="curPost=post;">

            <img class="h180 w240 menuShadow" [src]="post.postUrl" alt="">

            <div class="btb10 brb10 bbb10 flex1 flexBottom lp15 tp15 bp15 rp15 blackHov10" style="border-radius: 0 5px 5px 0;">

                <div class="fs14 fw500">{{ post.postName }}</div>
                <div class="tBlack50 mt10">WMR is an all-in-one development tool for modern web apps built by the
                    Preact team. Learn more about WMR's...</div>

                <div class="flex1"></div>

                <div class="flexRight">

                    <div style="border-radius: 100%;" [style.backgroundColor]="management.color">
                        <img class="w25 h25" style="border-radius: 100%; margin: 2px;" [src]="post.userUrl" alt="" srcset="">
                    </div>

                    <div class="flex1 flexBottom">

                        <div class="flex1"></div>

                        <div class="ml15">{{ post.userName }}</div>
                        <div class="ml15 fs8 fw500 tBlack50 mt5">{{ post.date }}</div>

                        <div class="flex1"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div *ngIf="curPost" class="screener vhCenter white100 flexBottom" style="height: calc(100vh - 110px);">

    <div class="flexBottom mt50 mb25 container empScroll2 flex1" style="overflow-x: hidden;">

        <div class="fs32 fw300" [style.color]="management.color">
            {{ curPost.postName }}
        </div>

        <div class="h1 black10 mt25 mb25"></div>

        <img class="mb15" style="height: 400px; width: 600px;" [src]="curPost.postUrl" alt="">

        <div [innerHtml]="curPost.html | noSanitize"></div>

    </div>

    <div class="h60 tWhite100 black5 container vhCenter underline fs14 pointer" (click)="curPost=null" [style.backgroundColor]="management.color">CLOSE POST</div>

</div>